
@{
    ViewBag.Title = "Layout1";
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}
<link href="~/Content/style2.css" rel="stylesheet" />
<h2> Danh sách sản phẩm hiện có</h2>
<div id="pro-list">
    <div id="product-box">
        <div>
            <img class="img-pro" src="~/Content/Image/acer.png" />
        </div>
        <div class="des">
            <p>Tên SP: Acer</p>
            <p>Mã SP: 01</p>
            <p>Giá: 15000000</p>
        </div>
    </div>
    <div id="product-box">
        <div>
            <img class="img-pro" src="~/Content/Image/acer.png" />
        </div>
        <div class="des">
            <p>Tên SP: Acer</p>
            <p>Mã SP: 01</p>
            <p>Giá: 15000000</p>
        </div>
    </div>
    <div id="product-box">
        <div>
            <img class="img-pro" src="~/Content/Image/acer.png" />
        </div>
        <div class="des">
            <p>Tên SP: Acer</p>
            <p>Mã SP: 01</p>
            <p>Giá: 15000000</p>
        </div>
    </div>
    <div id="product-box">
        <div>
            <img class="img-pro" src="~/Content/Image/acer.png" />
        </div>
        <div class="des">
            <p>Tên SP: Acer</p>
            <p>Mã SP: 01</p>
            <p>Giá: 15000000</p>
        </div>
    </div>
</div>